.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

body {
  /* margin: 0 auto; */
  font-family: sans-serif;
  /* background: linear-gradient(90deg, #141e30, #243b55); */
  width: 100%;
}

h2,
h1 {
  color: white;
  /* margin-block: 0px; */
  padding-top: 10px;
  padding-bottom: 10px;
}

.wrapper {
  background: linear-gradient(90deg, #141e30, #243b55);
  /* padding-bottom: 25%; */
  width: 90%;
  margin: 0 auto;
  border-radius: 130px;
}

.card {
  width: 30%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 576px) {
  .flex {
    flex-direction: column;
  }
  .spacing {
    width: 100%;
  }
  .wrapper {
    border-radius: 1px;
    width: 100%;
  }
}
@media (min-width: 640px) {
  .spacing {
    width: 45%;
  }
}

.step2 {
  margin: 40px auto;
  /* box-shadow: 5px 5px 5px whitesmoke; */
}
p {
  font-family: monospace;
  font-size: 20px;
}

.pcf {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  font-family: sans-serif;
}

.button {
  padding: 10px 20px;
  color: #03e9f4;
  background-color: transparent;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 40px;
  letter-spacing: 4px;
  /* box-shadow: 5px 5px 5px whitesmoke; */
  border: 1px solid #03e9f4;
  border-radius: 5px;
  font-family: "sans-serif";
}

button:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
  transition: 0.9s all ease-in-out;
  cursor: pointer;
}

.pie {
  background: transparent;
  color: #fff;
  border-radius: 5px;
  /* box-shadow: 0 0 10px #03e9f4; */
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
  transition: 0.9s all ease-in-out;
}

.pie:hover {
  /* background: #fff; */
  /* box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
  transition: 0.9s all ease-in-out; */
}

.box {
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  width: 50%;
  margin: 40px auto;
}

label {
  border: none;
  padding: 3px 3px;
  border-radius: 5px;
}

input,
select,
DatePicker {
  color: #fff;
  border: none;
  outline: none;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent !important;
}
input:focus {
  color: #03e9f4;
  background: transparent !important ;
}
/* Change the white to any color ;) */
/* changes the autfill in chrome from that light blue to whatever you want */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background: transparent !important;
  background-color: transparent;
  -webkit-box-shadow: 0 0 0 30px none inset !important;
}
